/* Block */
@block-height: 48px;

/* Colors */
@color-feature: #209D7F;
@color-second: #209D7F;
@color-second-light: #B8E0D6;

/* Typo */
@text-main-color: #292C30;
@text-second-color: @color-feature;
@text-descr-color: #6D6C6C;
@text-label-color: #6D6C6C;

/* Devider */
@devider-color: #E6E6E6;

/* Button */
@btn-back-color: #E5494D;
@btn-disabled-back-color: #dddddd;
@btn-text-color: #FFFFFF;

/* Textarea */
@textarea-back-color: #E6E6E6;
@textarea-text-color: #292C30;

/* Tab */
@tab-line-color: @btn-back-color;

/* Dialog */
@dialog-back-color: #FFFFFF;

/* Tx */
@tx-logo-back-color: @color-second-light;
