@import "../../../theme/variables.less"; // todo module import

.component {
    min-width: 400px;
    margin: -16px 0 16px; // todo hack -16
}

.txinfo {
    margin-top: 32px;
}

.txlogo {
    background: @color-feature;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 12px;
}

.maininfo { width: 100%; height: 116px; }
.title { margin-top: 24px; }
.value { margin-top: 12px; }

.ledgerlogo {
    margin-top: 24px;
}

.jsonpreview {
    width: 100%;
    height: 300px;
}

.btncancel {
    margin-top: 32px;
    width: 50%;
}
