@import "../../theme/default.less"; // todo module import

.title {
    color: @text-main-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 37px;
    font-size: 32px;
}

.subtitle {
    color: @text-descr-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    font-size: 21px;
}