.component {
    width: 520px;
    min-height: 200px;
    padding: 0px 0 30px;
}

.title {
    margin-top: 60px;
}

.subtitle {
    margin-top: 8px;
}

.lastauth {
    width: 100%;
    padding: 0 72px;
    margin: 36px 0 40px;
}

.ledgerusers {
    width: 100%;
    padding: 0 72px;
    margin: 20px 0 42px;
}

.footer {
    border-top: 1px solid #E6E6E6; // todo color to theme
    padding: 32px 0 0;
    width: 100%;
}

.lastauthlist {
    min-height: 54px;
    max-height: 108px;
    overflow-y: scroll;
}

.ledgeruserlist {
    height: 58px;
    width: 340px;
    overflow-x: scroll;
}

.avatar {
    margin-right: 8px;
}

.chooseanother {
    padding: 4px 8px;
    margin: 4px 0;
    cursor: pointer;
}

.fieldtitle {
    margin-top: 24px;
}

.fieldvalue {
    margin-top: 8px;
}

.usercontainer {
    padding: 4px 8px;
    margin: 4px 0;
    cursor: pointer;

    &.selected {
        background: rgba(0, 0, 0, 0.2);
    }

    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}

.accountinfo {
    width: 100%;
    margin-top: 42px;
}

.ledgeruser {
    margin: 0 4px;
    flex: 0 0 60px;
    cursor: pointer;
}

.ledgerusername {
    margin-top: 8px;
}

.plusicon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
    background: #7D8391; // TODO theme ?
    cursor: pointer;
}

.btnconfirm {
    width: 332px;
}
